name: Publish S3

on:
  push:
    branches:
      - master


jobs:
  deploy-to-s3:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync files to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --follow-symlinks --delete --exclude 'README.md' --exclude ".gitignore" --exclude '.github/**/*' --exclude '.git/**/*'
        env:
          AWS_S3_BUCKET: quantumbiotekbrazil.com.br
          SOURCE_DIR: "./"
          AWS_REGION: "us-east-1"
